// used to match Gutenberg Editor backend with frontend of site
@import "assets/bootstrap4.scss";
@import "theme/_theme_variables.scss";

/****************************************************************************************/
/* Main column width */
/****************************************************************************************/
.edit-post-visual-editor .editor-default-block-appender,
.edit-post-visual-editor .editor-post-title,
.edit-post-visual-editor .editor-block-list__block,
.edit-post-visual-editor .editor-post-title__block {
    max-width: 1170px !important;
}

.edit-post-visual-editor .editor-block-list__block[data-align="wide"] {
	max-width: 1170px;
}

.edit-post-visual-editor .editor-block-list__block[data-align="full"] {
	max-width: 100vw;
}

/****************************************************************************************/
/***************************** post title + post visual editor widths/alignments match
/****************************************************************************************/

@media (min-width: 600px) {
	.editor-post-title__block .editor-post-title__input {
		padding: 0px 16px;
		font-family: $headings-font-family;
		font-weight: $headings-font-weight;
	}

	.editor-post-title,
	.editor-post-title__block  {padding: 0px;}

	.editor-block-list__layout {
		padding-left: 10px;
		padding-right: 10px;
	}

	.editor-block-list__layout .editor-block-list__block[data-align="full"] {
		margin: 0px auto;
	}
}

.edit-post-visual-editor .editor-post-title {margin: 0px auto;}

/****************************************************************************************/
/***************************** cortextoo custom block edits for backend only
/****************************************************************************************/

/*cortex column container innerblocks set to full width + innerblock full width */
.wp-block[data-type="covertnine-blocks/column-containers"] .editor-inner-blocks {
	width: 100%;
}
