/****************************************************************************************/
/***************************** Page Setup */
/****************************************************************************************/
body {
	color: $gray-900;
	font-family: $font-family-base;
}

:root {
	font-size: 62.5%;
}

#page-wrapper, .wrapper {
  padding: 0px;
}

.page-container .entry-header,
#full-width-page-wrapper > .container {
	display: block;
	margin: 0px auto;
	width: 970px;
}

@media (min-width: 576px) {

	.container-narrow {
    	max-width: 100%;
		width: 100%;
		margin: 0px auto;
	}
	.page-template-default .page .entry-content {
		width: 100%;
		max-width: 100%;
		margin: 0px auto;
	}

}

@media (min-width: 768px) {

	.container-narrow {
		width: 100%;
	}

	.page-template-default .page .entry-content {
		width: 100%;
	}


}

@media (min-width: 992px) {

	.container-narrow {
		width: 970px;
	}

	.page-template-default .page .entry-content {
		width: 970px;
	}


}

@media (min-width: 1200px) {

	.container-narrow {
		width: 970px;
	}

	.page-template-default .page .entry-content {
		width: 1140px;
		margin: 0px auto;
	}

}

/****************************************************************************************/
/* WordPress Core Classes */
/****************************************************************************************/

.alignwide {
	width: 75%;
	max-width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.alignfull {
	width: 100%;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
	display:inline;
	float:left;
	margin-right:1.5em;
}

.alignright {
	display:inline;
	float:right;
	margin-left:1.5em;
}

.aligncenter {
	clear:both;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.wp-caption {
	margin-bottom:1.5em;
	max-width:100%;
}

.wp-caption img[class*="wp-image-"] {
	display:block;
	margin:0 auto;
}

.wp-caption-text {
	text-align:center;
	font-size:1.1rem;
	line-height:1.3rem;
	margin-top:0;
	text-transform:uppercase;
	font-weight:700;
}

.wp-caption .wp-caption-text {
	margin:.8075em 0;
}


/****************************************************************************************/
/* WordPress Core Widgets */
/****************************************************************************************/
.widget_archive ul,
.widget_categories ul,
.widget_pages ul,
.widget_meta ul,
.widget_recent_comments ul,
.widget_recent_entries ul,
.widget_rss ul,.widget_text ul,
.widget_nav_menu ul,
.widget_cortex_twitter_widget ul,
.widget ul {
	list-style:none;
	margin:15px 0;
	padding:0;
}

.widget_archive ul li,
.widget_categories ul li,
.widget_categories ul li,
.widget_pages ul li,
.widget_meta ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li,
.widget_rss ul li,.widget_text ul li,
.widget_nav_menu ul li,
.widget ul li {
	font-size:1.4rem;
	margin:10px 0;
	padding-left:40px;
}

.widget {
	margin:0 0 5em;
	font-size:1.4rem;
}

.widget:last-child {margin:0;}

.widget h1,
.widget h2,
.widget h3 {
	font-weight:700;
	letter-spacing:.08rem;
	font-size:2rem;
}

.widget .widget-title:after,
.widget .widgettitle:after {
	display:block;
	content:"";
	width:60%;
	border-bottom:2px solid #ca292c;
	padding-bottom:22px;
	margin-bottom:26px;
}

.widget select {
	max-width:100%;
}

.widget_nav_menu ul li ul {
	margin:8px 0 8px 20px;
}

.widget_nav_menu ul li ul li ul {
	margin:8px 0 8px 40px;
}


/****************************************************************************************/
/* WordPress Navigation*/
/****************************************************************************************/
nav ul li {
	font-family: $headings-font-family;
	font-size: 1rem;
}

nav ul li a {
	transition: color .3s ease-in;
}

/****************************************************************************************/
/* WordPress Theme base colors + editor color palette */
/****************************************************************************************/
.has-color-green-color {color: $primary;}
.has-color-white-color {color: #ffffff;}
.has-color-pink-color {color: $secondary;}
.has-color-black-color {color: #000000;}
.has-color-gray-color {color: #767676;}

.bg-primary {background-color: $primary;}
.bg-secondary {background-color: $secondary;}
.bg-success { background-color: $success;}
.bg-info { background-color: $info;}
.bg-warning { background-color: $warning;}
.bg-danger { background-color: $danger;}
.bg-dark { background-color: $dark;}


.has-color-pink-background-color {background-color: $secondary;}
.has-color-green-background-color {background-color: $primary;}
/****************************************************************************************/
/* WordPress Image Galleries */
/****************************************************************************************/

.gallery {
	margin-bottom:1.5em;
}

.gallery .gallery-item {
	display:inline-block;
	text-align:center;
	vertical-align:top;
	width:100%;
	margin-bottom:2%;
}

.gallery-item .wp-caption-text {
	margin-bottom:25px;
}

.gallery-columns-2 .gallery-item {
	max-width:50%;
}

.gallery-columns-3 .gallery-item {
	max-width:33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width:25%;
}

.gallery-columns-5 .gallery-item {
	max-width:20%;
}

.gallery-columns-6 .gallery-item {
	max-width:16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width:14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width:12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width:11.11%;
}

.gallery-caption {
	display:block;
}

/* For displaying 3 columns on tablet */
@media only screen and (max-width: 768px) {
	.gallery-columns-4 .gallery-item,
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		width:25%;
		max-width:25%;
	}

}

/* For displaying two columns on mobile */
@media only screen and (max-width: 568px) {
	.gallery-columns-2 .gallery-item,
	.gallery-columns-3 .gallery-item,
	.gallery-columns-4 .gallery-item,
	.gallery-columns-5 .gallery-item,
	.gallery-columns-6 .gallery-item,
	.gallery-columns-7 .gallery-item,
	.gallery-columns-8 .gallery-item,
	.gallery-columns-9 .gallery-item {
		width:50%;
		max-width:50%;
	}
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear:none;
}


/****************************************************************************************/
/* WordPress Search Form */
/****************************************************************************************/

.search-form .search-field,
.widget_search .search-field {
	display:inline;
	vertical-align:top;
	border-radius:0;
	padding:6px 8px 2px;
	font-size:1.4rem;
	height:34px;
	line-height:15px;
}

.widget_search input[type="submit"],
.widget_search .search-form label {max-width:48%;}

.widget_search .search-form label {
	display:inline-block;
	float:left;
}

.search-form,.widget_search .search-form {
	height:34px;
	overflow:hidden;
}

.widget_search .search-field,
.search-form .search-field {width: 100%;}

.search-form label,
.widget_search .search-form label {
	width: 50%;
	margin:0;
	float:left;
}

.search-form .search-field,
.widget_search .search-field {
	display:inline;
	vertical-align:top;
}

.widget_search .search-submit,
.search-submit {
	display:block;
	float:left;
	border: 0;
}

.widget_search .search-submit:hover {
	box-shadow:none;
}


/********************************************************************************************************************************************************************************/
/********************************************************************************************************************************************************************************/
/***************************************** Block Specific Styles Begin */
/********************************************************************************************************************************************************************************/
/********************************************************************************************************************************************************************************/

/****************************************************************************************/
/* WordPress Core HTML tag selectors */
/****************************************************************************************/

.entry-content hr {
	text-align:center;
	width:80%;
	margin:30px auto 25px;
	max-width: 300px;
	border:0;
	height:1px;
	width:33%;
}

.entry-content dt {
	font-weight:700;
}

.entry-content dd {
	margin:0 1.5em 1.5em;
}

img {
	height:auto;
	max-width:100%;
}

table {
	margin:0 0 1.5em;
	width:100%;
}

table tr td,table tr th {
	padding:15px;
	text-align: left;
}

table tr td {vertical-align: top;}

table tr th {
	padding-top:20px;
	padding-bottom:20px;
	font-weight:700;
	letter-spacing:.2rem;
	text-transform:uppercase;
}

/* Make sure embeds and iframes fit their containers. */
embed,iframe,object {
	max-width:100%;
}

.embed-container {
	position:relative;
	padding-bottom:56.25%;
	height:0;
	overflow:hidden;
	max-width:100%;
	height:auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}


/****************************************************************************************/
/* Typography */
/****************************************************************************************/
.entry-content,
.editor-styles-wrapper p,
.editor-styles-wrapper .wp-block-paragraph {
	font-size: 2rem;
	word-wrap:break-word;
	font-family: $font-family-base;
}

.entry-content p,
.editor-styles-wrapper .wp-block-paragraph,
.editor-styles-wrapper .editor-rich-text .mce-content-body {
	margin-bottom:15px;
	line-height:2;
}

.editor-styles-wrapper div {font-family: $font-family-base;}

.editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper .wp-block-paragraph,
.wp-block-heading h1,
.wp-block-heading h2,
.wp-block-heading h3,
.wp-block-heading h4,
.wp-block-heading h5,
.wp-block-heading h6 {color: $gray-900;}

.entry-content h1,.entry-content .h1, .wp-block-heading h1,
.entry-header h1 {font-size:4rem}
.entry-content h2,.entry-content .h2, .wp-block-heading h2 {font-size:3.6rem}
.entry-content h3,.entry-content .h3, .wp-block-heading h3 {font-size:3rem}
.entry-content h4,.entry-content .h4, .wp-block-heading h4 {font-size:2.8rem}
.entry-content h5,.entry-content .h5, .wp-block-heading h5 {font-size:2rem}
.entry-content h6,.entry-content .h6, .wp-block-heading h6 {font-size:1.4rem}

.has-small-font-size {font-size: 1rem !important;}

.has-regular-font-size,
.has-normal-font-size {font-size: 2rem !important;}

.has-medium-font-size {font-size: 3rem !important;}

.has-large-font-size {font-size: 4rem !important;}

.has-larger-font-size,
.has-huge-font-size {font-size: 8rem !important;}


p.wp-block-subhead {
	font-family: $font-family-sans-serif;
	font-weight: 300;
	font-style: normal !important;
}

.section-heading-accent { /*cea specific here*/
	display: block;
	margin: 0px auto;
	font-family: $headings-font-family;
	font-size: 2.6rem;
	line-height: 1.5;
	letter-spacing: .8rem;
	text-align: center;
	text-transform: uppercase;
}

/****************************************************************************************/
/* post content tables */
/****************************************************************************************/
.entry-content table,
.entry-content table tbody,
.entry-content table tbody tr,
.entry-content table tbody tr td,
.edit-post-visual-editor table, .edit-post-visual-editor table tbody, .edit-post-visual-editor table tbody tr, .edit-post-visual-editor table tbody tr td {
	border: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.entry-content table tbody tr td,
.edit-post-visual-editor table tbody tr td {
	background: #fff;
	box-shadow: 0 -1px 0 0 #ECEEEF;
}

/****************************************************************************************/
/* post content pull quotes and block quotes */
/****************************************************************************************/
.edit-post-visual-editor .wp-block-cortex-blocks-block-cortex-blockquote  {
	position: relative;
}

.edit-post-visual-editor blockquote:before,.edit-post-visual-editor blockquote:after,.edit-post-visual-editor q:before,.edit-post-visual-editor q:after {
	content:"";
}

.edit-post-visual-editor blockquote {
	quotes:"" "";
	position:relative;
	margin: 0px 40px 20px 40px;
	padding:0 35px;
	border-left:3px solid $primary;
}

.edit-post-visual-editor blockquote:before {
	content:"\201C";
	letter-spacing:.2rem;
	text-transform:uppercase;
	position:absolute;
	top: 0;
    left: -55px;
    font-size: 3rem;
	font-weight:700;
	font-family: $headings-font-family;
	color: $primary;
}

.edit-post-visual-editor blockquote p, .edit-post-visual-editor blockquote {
	font:normal 1.8rem/2.1em $font-family-base;
}

.entry-content .wp-block-cortex-blocks-block-cortex-blockquote  {
	position: relative;
}

.entry-content blockquote:before,.entry-content blockquote:after,.entry-content q:before,.entry-content q:after {
	content:"";
}

.entry-content blockquote {
	quotes:"" "";
	position:relative;
	margin: 0px 40px 20px 40px;
	padding:0 35px;
	border-left:3px solid #ca292c;
}

.entry-content blockquote:before {
	content:"\201C";
	letter-spacing:.2rem;
	text-transform:uppercase;
	position:absolute;
	top: 0;
    left: -55px;
    font-size: 3rem;
	font-weight:700;
	font-family: $headings-font-family;
	color:#ca292c;
}

.entry-content blockquote p, .entry-content blockquote {
	font:normal 1.8rem/2.1em $font-family-base;
}

/****************************************************************************************/
/* post content ol ul li (Ordered and unordered lists) */
/****************************************************************************************/
.entry-content ul:not(.wp-block-gallery),
.entry-content ol {
	font-size: 2rem;
	line-height: 4rem;
	padding: 0px 20px;
	margin: 0px 0px 15px 30px;
}

.entry-content ul:not(.wp-block-gallery) {
	list-style:disc;
}

.entry-content ol {
	list-style:decimal;
}

.entry-content li > ul,.entry-content li > ol {
	margin-bottom:0px 0px 0px 15px;
}

.entry-content ol li {counter-increment:step-counter;}

.entry-content ol {list-style-type:none;}

.entry-content ol li:before {
	content:counter(step-counter);
	width: 20px;
	display:inline-block;
	font-weight:700;
	margin: 0 0 0 -18px;
}

.entry-content ol li {
	counter-increment:step-counter;
	padding-left: 40px;
}

.entry-content ol {list-style-type:none;}

.entry-content ol li:before {
	content:counter(step-counter);
	width:22px;
	display:inline-block;
	font-weight:700;
	margin: 0 7px 0 -27px;
}

/****************************************************************************************/
/***************************** Sam's Styles
/****************************************************************************************/
.container-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

@media (min-width: 576px) {

	.wp-block-covertnine-blocks-column-containers {
		width: 100%;
		max-width: 100%;
		margin-left: 0px;
	}

}

@media (min-width: 768px) {

	.wp-block-covertnine-blocks-column-containers {
		width: 100vw;
		max-width: 100vw;
	}

}

@media (min-width: 992px) {

	.wp-block-covertnine-blocks-column-containers {
		width: 100vw;
		max-width: 100vw;
		margin-left: calc((-100vw + 970px)/2);
	}

}


@media only screen and (min-width: 1200px) {
	.wp-block-covertnine-blocks-column-containers {
		width: 100vw;
		max-width: 100vw;
		margin-left: calc((-100vw + 1140px)/2);
	}
}



/****************************************************************************************/
/* buttons
/****************************************************************************************/

.entry-content .btn,
.entry-content .btn:visited,
.entry-content button,
.entry-content input[type="button"],
.entry-content input[type="reset"],
.entry-content input[type="submit"],
.entry-content .button,
.entry-content .wp-block-button__link,
.wp-block-button .wp-block-button__link {
	display:inline-block;
	padding:14px 45px;
	width:auto;
	background-color: $primary;
	text-shadow:1px 1px 3px rgba(0,0,0,0.4);
	text-align:center;
	text-transform:uppercase;
	letter-spacing:.2rem;
	font-family: $headings-font-family;
	font-size:1.4rem;
	line-height:1.4rem;
	font-weight:400;
	-webkit-transition:all .4s ease-in-out;
	-moz-transition:all .4sease-in-out;
	-o-transition:all .4s ease-in-out;
	transition:all .4s ease-in-out;
}

/****************************************************************************************/
/* Utility Classes
/****************************************************************************************/

.mar5B{margin-bottom:5px}
.mar10B{margin-bottom:10px}
.mar15B{margin-bottom:15px}
.mar20B{margin-bottom:20px}
.mar30B{margin-bottom:30px}
.mar40B{margin-bottom:40px}
.mar50B{margin-bottom:50px}
.mar60B{margin-bottom:60px}
.mar70B{margin-bottom:70px}
.mar80B{margin-bottom:80px}
.mar100B{margin-bottom:90px}
.mar110B{margin-bottom:110px}
.mar120B{margin-bottom:120px}
.mar0T{margin-top:0}
.mar5T{margin-top:5px}
.mar10T{margin-top:10px}
.mar15T{margin-top:15px}
.mar20T{margin-top:20px}
.mar30T{margin-top:30px}
.mar40T{margin-top:40px}
.mar50T{margin-top:50px}
.mar60T{margin-top:60px}
.mar70T{margin-top:70px}
.mar80T{margin-top:80px}
.mar90T{margin-top:90px}
.mar100T{margin-top:100px}
.mar110T{margin-top:110px}
.mar120T{margin-top:120px}
.mar130T{margin-top:130px}
.mar140T{margin-top:140px}
.mar10NT{margin-top:-10px}
.mar20NT{margin-top:-20px}
.mar30NT{margin-top:-30px}
.mar40NT{margin-top:-40px}
.mar50NT{margin-top:-50px}
.mar60NT{margin-top:-60px}
.mar70NT{margin-top:-70px}
.mar80NT{margin-top:-80px}
.mar90NT{margin-top:-90px}
.mar100NT{margin-top:-100px}
.mar110NT{margin-top:-110px}
.mar120NT{margin-top:-120px}
.mar130NT{margin-top:-130px}
.mar140NT{margin-top:-140px}

.c9-25{width:25%}
.c9-50{width:50%}
.c9-75{width:75%}
.c9-100{width:100%}

.light, .h1.light, .h2.light .h3.light, .h4.light, .h5.light, .h6.light, .subheading.light, .subheading.h1.light, .subheading.h2.light .subheading.h3.light, .subheading.h4.light, .subheading.h5.light, .subheading.h6.light {
	font-weight: 300;
}

.heavy, .h1.heavy, .h2.heavy, .h3.heavy, .h4.heavy, .h5.heavy, .h6.heavy, .subheading.heavy, .subheading.h1.heavy, .subheading.h2.heavy, .subheading.h3.heavy, .subheading.h4.heavy, .subheading.h5.heavy, .subheading.h6.heavy {
	font-weight:900;
}