// cortextoo
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.
:root {font-family: 'roboto slab', times, serif;}

// Typography
$headings-font-family: 'Montserrat', 'helvetica neue', helvetica, sans-serif;
$headings-font-weight: 700;

$font-family-sans-serif: 'Oswald', impact, sans-serif;
$font-family-base: 'Roboto Slab', times, serif;

$line-height-base:            1.8;

$headings-font-weight: 700;

$display1-size: 7.2rem;
$display1-weight: 700;
$display-line-height: 7.2rem;

$display2-size: 6.6rem;
$display2-weight: 700;
$display-line-height: 6.6rem;

$display3-size: 5.4rem;
$display3-weight: 700;
$display-line-height: 5.4rem;

$display4-size: 4.2rem;
$display4-weight: 700;
$display-line-height: 4.2rem;

$enable-rounded: false;


// Colors
$primary: #3D7DA7;
$secondary: #818A91;
$success: #21A77A;
$info: #F7F7F9;
$warning: #EC971F;
$danger: #843534;
$dark: #121212;

$link-hover-color: #3D7DA7;
$link-color: #373A3C;

