/****************************************************************************************/
/***************************** Page Setup */
/****************************************************************************************/
#page-wrapper, .wrapper {
  padding: 0px;
}
.page-container .entry-header,
#full-width-page-wrapper > .container {
	display: block;
	margin: 0px auto;
	width: 970px;
}

@media (min-width: 576px) {

	.container-narrow {
    max-width: 100%;
		width: 100%;
		margin: 0px auto;
	}

}

@media (min-width: 768px) {

	.container-narrow {
		width: 100%;
	}

}

@media (min-width: 992px) {

	.container-narrow {
		width: 970px;
	}

}

@media (min-width: 1200px) {

	.container-narrow {
		width: 970px;
	}

}
/****************************************************************************************/
/***************************** WordPress Core*/
/****************************************************************************************/

/****************************************************************************************/
/***************************** post content subheadings */
/****************************************************************************************/
p.wp-block-subhead {
	font-family: $font-family-sans-serif;
	font-weight: 300;
	font-style: normal !important;
}

/****************************************************************************************/
/***************************** ordered and unordered lists */
/****************************************************************************************/
.entry-content ul li,
.entry-content ol li { margin:5px 0;}

.entry-content ol li {
	counter-increment:step-counter;
}

.entry-content ol {list-style-type:none;}

.entry-content ol li:before {
	content:counter(step-counter);
	width: 20px;
	display:inline-block;
	font-weight:700;
	margin: 0 0 0 -18px;
}

/****************************************************************************************/
/***************************** blockquotes
/****************************************************************************************/
.entry-content .wp-block-cortex-blocks-block-cortex-blockquote  {
	position: relative;
}

.entry-content blockquote:before,.entry-content blockquote:after,.entry-content q:before,.entry-content q:after {
	content:"";
}

.entry-content blockquote {
	quotes:"" "";
	position:relative;
	margin: 0px 40px 20px 40px;
	padding:0 35px;
	border-left:3px solid #ca292c;
}

.entry-content blockquote:before {
	content:"\201C";
	letter-spacing:.2rem;
	text-transform:uppercase;
	position:absolute;
	top: 0;
    left: -55px;
    font-size: 3rem;
	font-weight:700;
	font-family: $headings-font-family;
	color:#ca292c;
}

.entry-content blockquote p, .entry-content blockquote {
	font:normal 1.8rem/2.1em $font-family-base;
}


/****************************************************************************************/
/***************************** post content tables*/
/****************************************************************************************/
.entry-content table, .entry-content table tbody, .entry-content table tbody tr, .entry-content table tbody tr td {
	border: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.entry-content table tbody tr td {
	background: #FFFFFF;
	box-shadow: 0 -1px 0 0 #ECEEEF;
}

/****************************************************************************************/
/***************************** cortex base colors + editor color palette */
/****************************************************************************************/

.has-color-white-color {color: #ffffff;}
.has-color-black-color {color: #000000;}
.has-color-light-gray-color {color: #cccccc;}

.bg-primary { background-color: $primary }
.bg-secondary { background-color: $secondary;}
.bg-success { background-color: $success;}
.bg-info { background-color: $info;}
.bg-warning { background-color: $warning;}
.bg-danger { background-color: $danger;}
.bg-dark { background-color: $dark;}


/****************************************************************************************/
/* navigation*/
/****************************************************************************************/
nav ul li {
	font-family: $headings-font-family;
	font-size: 1rem;
}

nav ul li a {
	transition: color .3s ease-in;
}