// cortextoo
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.
:root {font-family: NiveauGroteskRegular, times, serif;}

// Typography
$headings-font-family: NiveauGroteskBold, 'helvetica neue', helvetica, sans-serif;
$headings-font-weight: 700;

$font-family-sans-serif: NiveauGroteskRegular, sans-serif;
$font-family-base: NiveauGroteskRegular, serif;

$line-height-base:            2;

$headings-font-weight: 700;

$display1-size: 7.2rem;
$display1-weight: 700;
$display-line-height: 7.2rem;

$display2-size: 6.6rem;
$display2-weight: 700;
$display-line-height: 6.6rem;

$display3-size: 5.4rem;
$display3-weight: 700;
$display-line-height: 5.4rem;

$display4-size: 4.2rem;
$display4-weight: 700;
$display-line-height: 4.2rem;

$enable-rounded: false;


// Colors
$primary: #006A30;
$secondary: #D548CA;
$success: #21A77A;
$info: #F7F7F9;
$warning: #EC971F;
$danger: #843534;
$dark: #000000;

$link-hover-color: #006A30;
$link-color: #4A4A4A;

