// used to match Gutenberg Editor backend with frontend of site
@import "bootstrap4/bootstrap";
@import "theme/_theme_variables.scss";


/* fix font sizes in interface in backend from the reset css */
input,
button,
select,
optgroup,
textarea,
.components-notice__content,
body {
    font-size: 1.3rem;
}


/****************************************************************************************/
/***************************** post title */
/****************************************************************************************/
.editor-styles-wrapper .editor-post-title {
    margin: 0px auto;
}

.editor-post-title__block .editor-post-title__input {
    padding: 16px;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
}

.edit-post-layout__content .editor-styles-wrapper {
    width: 100%;
    max-width: 100vw; // The widest available screen width -15vw to account for button controls
    margin: 0px auto;
    line-height: 2;
}

/****************************************************************************************/
/***************************** font color changes for editor only (frontend color is on body)
/****************************************************************************************/
.editor-styles-wrapper,
.editor-styles-wrapper .wp-block-table,
.editor-styles-wrapper .wp-block-file,
.editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper .wp-block-paragraph,
.editor-styles-wrapper .wp-block-quote p,
.wp-block-heading h1,
.wp-block-heading h2,
.wp-block-heading h3,
.wp-block-heading h4,
.wp-block-heading h5,
.wp-block-heading h6,
.wp-block-button.is-style-outline .wp-block-button__link {
    color: $gray-900;
}

.wp-block-pullquote .wp-block-pullquote__citation {
    color: $gray-500;
}

.wp-block-button.is-style-squared .wp-block-button__link,
.wp-block-button .wp-block-button__link {
    color: $light;
}

/****************************************************************************************/
/***************************** core block edits for backend only
/****************************************************************************************/
.wp-block[data-type="core/separator"] .editor-block-list__block-edit {
    max-width: 1110px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.wp-block[data-type="core/separator"] .editor-block-list__block-edit .wp-block-separator {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/*square buttons*/
.editor-rich-text__editable.wp-block-button__link.square {
    border-radius: 0;
}

.editor-rich-text__editable.wp-block-button__link {
    width: 100%;
}

/****************************************************************************************/
/***************************** core edits for forms in backend editor
/****************************************************************************************/

.components-modal__content .input-control,
.components-modal__content input[type=checkbox],
.components-modal__content input[type=color],
.components-modal__content input[type=date],
.components-modal__content input[type=datetime-local],
.components-modal__content input[type=datetime],
.components-modal__content input[type=email],
.components-modal__content input[type=month],
.components-modal__content input[type=number],
.components-modal__content input[type=password],
.components-modal__content input[type=radio],
.components-modal__content input[type=search],
.components-modal__content input[type=tel],
.components-modal__content input[type=text],
.components-modal__content input[type=time],
.components-modal__content input[type=url],
.components-modal__content input[type=week],
.components-modal__content select,
.components-modal__content textarea,
.components-popover .input-control,
.components-popover input[type=checkbox],
.components-popover input[type=color],
.components-popover input[type=date],
.components-popover input[type=datetime-local],
.components-popover input[type=datetime],
.components-popover input[type=email],
.components-popover input[type=month],
.components-popover input[type=number],
.components-popover input[type=password],
.components-popover input[type=radio],
.components-popover input[type=search],
.components-popover input[type=tel],
.components-popover input[type=text],
.components-popover input[type=time],
.components-popover input[type=url],
.components-popover input[type=week],
.components-popover select,
.components-popover textarea,
.edit-post-sidebar .input-control,
.edit-post-sidebar input[type=checkbox],
.edit-post-sidebar input[type=color],
.edit-post-sidebar input[type=date],
.edit-post-sidebar input[type=datetime-local],
.edit-post-sidebar input[type=datetime],
.edit-post-sidebar input[type=email],
.edit-post-sidebar input[type=month],
.edit-post-sidebar input[type=number],
.edit-post-sidebar input[type=password],
.edit-post-sidebar input[type=radio],
.edit-post-sidebar input[type=search],
.edit-post-sidebar input[type=tel],
.edit-post-sidebar input[type=text],
.edit-post-sidebar input[type=time],
.edit-post-sidebar input[type=url],
.edit-post-sidebar input[type=week],
.edit-post-sidebar select,
.edit-post-sidebar textarea,
.editor-block-list__block .input-control,
.editor-block-list__block input[type=checkbox],
.editor-block-list__block input[type=color],
.editor-block-list__block input[type=date],
.editor-block-list__block input[type=datetime-local],
.editor-block-list__block input[type=datetime],
.editor-block-list__block input[type=email],
.editor-block-list__block input[type=month],
.editor-block-list__block input[type=number],
.editor-block-list__block input[type=password],
.editor-block-list__block input[type=radio],
.editor-block-list__block input[type=search],
.editor-block-list__block input[type=tel],
.editor-block-list__block input[type=text],
.editor-block-list__block input[type=time],
.editor-block-list__block input[type=url],
.editor-block-list__block input[type=week],
.editor-block-list__block select,
.editor-block-list__block textarea,
.editor-post-permalink .input-control,
.editor-post-permalink input[type=checkbox],
.editor-post-permalink input[type=color],
.editor-post-permalink input[type=date],
.editor-post-permalink input[type=datetime-local],
.editor-post-permalink input[type=datetime],
.editor-post-permalink input[type=email],
.editor-post-permalink input[type=month],
.editor-post-permalink input[type=number],
.editor-post-permalink input[type=password],
.editor-post-permalink input[type=radio],
.editor-post-permalink input[type=search],
.editor-post-permalink input[type=tel],
.editor-post-permalink input[type=text],
.editor-post-permalink input[type=time],
.editor-post-permalink input[type=url],
.editor-post-permalink input[type=week],
.editor-post-permalink select,
.editor-post-permalink textarea,
.editor-post-publish-panel .input-control,
.editor-post-publish-panel input[type=checkbox],
.editor-post-publish-panel input[type=color],
.editor-post-publish-panel input[type=date],
.editor-post-publish-panel input[type=datetime-local],
.editor-post-publish-panel input[type=datetime],
.editor-post-publish-panel input[type=email],
.editor-post-publish-panel input[type=month],
.editor-post-publish-panel input[type=number],
.editor-post-publish-panel input[type=password],
.editor-post-publish-panel input[type=radio],
.editor-post-publish-panel input[type=search],
.editor-post-publish-panel input[type=tel],
.editor-post-publish-panel input[type=text],
.editor-post-publish-panel input[type=time],
.editor-post-publish-panel input[type=url],
.editor-post-publish-panel input[type=week],
.editor-post-publish-panel select,
.editor-post-publish-panel textarea {
    border-radius: 0px;
}


/****************************************************************************************/
/***************************** Typography */
/****************************************************************************************/
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
.editor-styles-wrapper .h1,
.editor-styles-wrapper .h2,
.editor-styles-wrapper .h3,
.editor-styles-wrapper .h4,
.editor-styles-wrapper .h5,
.editor-styles-wrapper .h6,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
    font-family: $headings-font-family;
    font-weight: 700;
}

.editor-styles-wrapper h1,
.editor-styles-wrapper .h1,
.wp-block-heading h1,
.entry-header h1 {
    font-size: 4rem
}

.editor-styles-wrapper .c9-heading .h1 .text-muted,
.editor-styles-wrapper .c9-heading .h2 .text-muted,
.editor-styles-wrapper .c9-heading .h3 .text-muted,
.editor-styles-wrapper .c9-heading .h4 .text-muted,
.editor-styles-wrapper .c9-heading .h5 .text-muted,
.editor-styles-wrapper .c9-heading .h6 .text-muted {
    font-family: $headings-font-family;
}

.editor-styles-wrapper h2,
.editor-styles-wrapper .h2,
.wp-block-heading h2 {
    font-size: 3.6rem
}

.editor-styles-wrapper h3,
.editor-styles-wrapper .h3,
.wp-block-heading h3 {
    font-size: 3rem
}

.editor-styles-wrapper h4,
.editor-styles-wrapper .h4,
.wp-block-heading h4 {
    font-size: 2.8rem
}

.editor-styles-wrapper h5,
.editor-styles-wrapper .h5,
.wp-block-heading h5 {
    font-size: 2rem
}

.editor-styles-wrapper h6,
.editor-styles-wrapper .h6,
.wp-block-heading h6 {
    font-size: 1.4rem
}

.c9-h,
.c9-h.h,
.c9-txl,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
    font-family: $headings-font-family;
    line-height: 1.1;
}

.editor-styles-wrapper .h1.c9-txl,
.editor-styles-wrapper h1.c9-txl {
    font-size: 8rem;
}

.editor-styles-wrapper .h2.c9-txl,
.editor-styles-wrapper h2.c9-txl {
    font-size: 7.3rem;
}

.editor-styles-wrapper .h3.c9-txl,
.editor-styles-wrapper h3.c9-txl {
    font-size: 6.5rem;
}

.editor-styles-wrapper .h4.c9-txl,
.editor-styles-wrapper h4.c9-txl {
    font-size: 5.8rem;
}

.editor-styles-wrapper .h5.c9-txl,
.editor-styles-wrapper h5.c9-txl {
    font-size: 5rem;
}

.editor-styles-wrapper .h6.c9-txl,
.editor-styles-wrapper h6.c9-txl {
    font-size: 4.3rem;
}