// used to match Gutenberg Editor backend with frontend of site
@import "theme/_theme_variables.scss";

.block-editor-rich-text__editable a {
    color: $primary;
}

body .editor-styles-wrapper {
    padding: 0px;
}

html :where(.editor-styles-wrapper) {
    font-family: "helvetica neue",
        helvetica,
        sans-serif;
}

.editor-styles-wrapper .block-list-appender {
    margin-top: 0px;
    margin-bottom: 0px;
}

/****************************************************************************************/
/* post title */
/****************************************************************************************/
:root,
body .is-root-container {
    font-family: "helvetica neue", helvetica, sans-serif;
}

.editor-styles-wrapper .editor-post-title {
    margin: 0px auto;
}

.editor-post-title__block .editor-post-title__input {
    padding: 16px;
    font-weight: $headings-font-weight;
}

/****************************************************************************************/
/* Backend editor widths setup and default max widths for Blocks not in C9 Grid Containers
/****************************************************************************************/

.block-editor-editor-skeleton__content .editor-styles-wrapper {
    margin: 0px auto;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
}

body.post-type-page .is-sidebar-opened .block-editor-editor-skeleton__content .editor-styles-wrapper {
    max-width: 1140px;
}

@media only screen and (min-width: 768px) {
    .editor-styles-wrapper .wp-block {
        max-width: 960px;
    }

    .editor-styles-wrapper .is-root-container .wp-block[data-align="full"] {
        max-width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.is-sidebar-opened .editor-styles-wrapper .wp-block {
    max-width: 100vw;
}

@media only screen and (min-width: 1200px) {
    .editor-styles-wrapper .wp-block {
        max-width: 1140px;
        margin-right: auto;
        margin-left: auto;
    }

    .editor-styles-wrapper .block-list-appender.wp-block {
        margin-left: 0px;
        margin-right: 0px;
    }

    .editor-styles-wrapper .is-root-container>.block-list-appender.wp-block {
        margin-left: auto;
        margin-right: auto;
    }

    .editor-styles-wrapper .c9-grid .wp-block[data-type="c9-blocks/column-container"] .wp-block[data-type="core/button"],
    .is-sidebar-opened .editor-styles-wrapper .c9-grid [data-type="c9-blocks/column-container"].container .wp-block[data-type="core/button"] {
        margin-left: 0px;
        margin-right: 0px;
    }

    .editor-styles-wrapper .c9-grid .wp-block[data-type="c9-blocks/column-container"] .wp-block-buttons .wp-block[data-type="core/button"] {
        margin-right: 8px;
    }

    body.post-type-post .editor-styles-wrapper .wp-block {
        max-width: 900px;
    }

    .post-type-post .editor-styles-wrapper .is-root-container>.wp-block[data-align="wide"] {
        width: 1080px;
        margin-left: auto;
        margin-right: auto;
        max-width: 100vw;
    }

    .post-type-page .editor-styles-wrapper .is-root-container>.wp-block[data-align="wide"] {
        max-width: 1368px;
    }

    .post-type-page .is-sidebar-opened .editor-styles-wrapper .is-root-container>.wp-block[data-align="full"],
    .post-type-post .is-sidebar-opened .editor-styles-wrapper .is-root-container>.wp-block[data-align="full"] {
        max-width: calc(100vw - 280px);
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .edit-post-layout:not(.is-sidebar-opened) .editor-styles-wrapper .block-editor-block-list__layout {
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media only screen and (min-width: 1500px) {

    /* full screen width on large screens */
    body.post-type-page .block-editor-editor-skeleton__content .editor-styles-wrapper,
    body.post-type-page .is-sidebar-opened .block-editor-editor-skeleton__content .editor-styles-wrapper {
        max-width: 94%;
    }
}

/****************************************************************************************/
/* font changes for editor only (frontend color is on body)
/****************************************************************************************/

.block-editor-format-toolbar__link-container-value,
[data-rich-text-placeholder],
.editor-styles-wrapper .block-editor-default-block-appender textarea.block-editor-default-block-appender__content {
    word-wrap: break-word;
    font-size: 1.6rem;
}

.editor-styles-wrapper .is-root-container>p,
.editor-styles-wrapper .is-root-container>.block-list-appender>.has-visible-prompt>p,
.wp-block[data-type="core/paragraph"] p,
.editor-styles-wrapper .block-editor-default-block-appender textarea.block-editor-default-block-appender__content {
    line-height: 1.6;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

html :where(.editor-styles-wrapper) p {
    line-height: 1.6;
}

.editor-styles-wrapper p.mce-content-body,
.editor-styles-wrapper p.mce-content-body {
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 1.6rem;
}

.editor-styles-wrapper a:not(.wp-block-button__link) {
    text-decoration: underline;
}

body .editor-styles-wrapper,
.editor-styles-wrapper .wp-block-table,
.editor-styles-wrapper .wp-block-file,
.editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper .wp-block-quote p,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
.wp-block-button.is-style-outline .wp-block-button__link {
    color: $gray-900;
}

.wp-block-button.is-style-squared .wp-block-button__link,
.wp-block-button .wp-block-button__link {
    color: $light;
}

.editor-styles-wrapper .mce-content-body p:last-child,
.editor-styles-wrapper blockquote p:last-child,
.editor-styles-wrapper .wp-block-quote p:last-child,
.wp-block-pullquote.is-style-solid-color blockquote p:last-child,
.editor-styles-wrapper .mce-content-body p:only-of-type,
.editor-styles-wrapper blockquote p:only-of-type,
.editor-styles-wrapper .wp-block-quote p:only-of-type,
.wp-block-pullquote.is-style-solid-color blockquote p:only-of-type {
    margin-bottom: 0px;
}

.editor-styles-wrapper .wp-block-pullquote blockquote:before {
    top: -30px;
}

/****************************************************************************************/
/***************************** core block edits for backend only
/****************************************************************************************/

/* embeddable tweets */
.wp-block[data-type="core-embed/twitter"] .wp-block-embed iframe {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    min-width: 550px;
}

.wp-block[data-type="core-embed/twitter"] .wp-block-embed .wp-block-embed__wrapper {
    text-align: center;
}

/*WordPress core separator */
.wp-block[data-type="core/separator"] .block-editor-block-list__block-edit {
    max-width: 1110px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.wp-block[data-type="core/separator"] .block-editor-block-list__block-edit .wp-block-separator {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

/* WordPress core tables */
.editor-styles-wrapper .wp-block-table {
    margin: 0px auto 25px auto;
}

/* WordPress core square buttons */
/* center alignment for buttons block */
.wp-block[data-align="center"] .wp-block-buttons .block-editor-block-list__layout {
    text-align: center;
}

.editor-styles-wrapper .wp-block-buttons .wp-block-button {
    margin-right: 8px;
    margin-bottom: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
}

.editor-rich-text__editable.wp-block-button__link {
    width: 100%;
}

.wp-block[data-type="core/paragraph"]~.wp-block[data-type="core/button"]:not(.alignleft) {
    margin-top: 20px;
}

.wp-block[data-type="core/button"][data-align="left"],
.wp-block[data-type="core/button"][data-align="right"] {
    display: block;
    width: auto;
}

.wp-block[data-type="core/button"][data-align="left"] {
    float: left;
}

.wp-block[data-type="core/button"][data-align="right"] {
    float: right;
}

@media only screen and (min-width: 1200px) {
    .editor-styles-wrapper .wp-block[data-align="center"] .wp-block-buttons {
        text-align: center;
    }

    .editor-styles-wrapper .wp-block[data-align="center"] .wp-block-buttons>.wp-block-button {
        margin-left: 0px;
        margin-right: 5px;
    }

    .editor-styles-wrapper .wp-block[data-align="center"] .wp-block-buttons>.wp-block-button:last-child {
        margin-right: 0px;
    }
}

/* WordPress core list items */
.editor-styles-wrapper ul li div,
.editor-styles-wrapper ul:not([class]) li div,
.editor-styles-wrapper ul[class=""] li div,
.editor-styles-wrapper ol li div,
.editor-styles-wrapper ol:not([class]) li div,
.editor-styles-wrapper ol[class=""] li div {
    display: inline;
}

html :where(.editor-styles-wrapper) ul,
html :where(.editor-styles-wrapper) ol {
    -webkit-padding-start: 0;
    padding-inline-start: 0;
    padding: 0px 0px 0px 30px;
}

/* WordPress Core search widget block */

.editor-styles-wrapper .wp-block-search .wp-block-search__label {
    margin-bottom: 8px;
    font-size: 1.8rem;
}

.editor-styles-wrapper .wp-block-search .wp-block-search__input {
    min-height: 38px;
}

.editor-styles-wrapper .wp-block-search .wp-block-search__button,
.editor-styles-wrapper .wp-block-search__button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
    background: $primary;
    box-shadow: none;
    border-radius: 0px;
    border: none;
    padding: 12px 35px;
    color: $light;
}

/* WordPress core spacers */

.editor-styles-wrapper [data-type="core/spacer"] {
    margin-top: 20px;
    margin-bottom: 20px;
}

/* WordPress image blocks */
.editor-styles-wrapper .wp-block-image.aligncenter,
.wp-block-image.aligncenter>figcaption,
.wp-block-image.alignleft>figcaption,
.wp-block-image.alignright>figcaption,
.wp-block-image.is-resized>figcaption {
    display: block;
}

[data-align="center"] .wp-block-image .components-resizable-box__container,
[data-align="center"] .wp-block-image img,
.wp-block[data-align="center"]>.wp-block-image img,
.aligncenter.wp-block-image img,
.aligncenter.wp-block-image>div {
    margin-left: auto;
    margin-right: auto;
}

[data-type="core/image"] img {
    margin-left: 0;
    margin-right: 0;
}

.wp-block[data-align="left"] [data-type="core/image"],
.wp-block[data-align="left"]>.wp-block-image,
.alignleft.wp-block-image>img {
    margin-left: 0px;
    margin-right: 30px;
}

.wp-block[data-align="left"]>.wp-block-image,
.wp-block[data-align="left"]>.wp-block-image>.components-resizable-box__container,
.alignleft.wp-block-image>img,
.alignleft.wp-block-image>div {
    float: left;
}

.wp-block[data-align="right"] [data-type="core/image"],
.wp-block[data-align="right"]>.wp-block-image,
.alignright.wp-block-image img {
    margin-left: 30px;
    margin-right: 0px;
}

.wp-block[data-align="right"]>.wp-block-image,
.wp-block[data-align="right"]>.wp-block-image>.components-resizable-box__container,
.alignright.wp-block-image img,
.alignright.wp-block-image>div {
    float: right;
}

/* pullquote blocks */
@media only screen and (min-width: 992px) {
    .editor-styles-wrapper .wp-block[data-type="core/pullquote"] .wp-block-pullquote {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}

/* code blocks */
code,
kbd,
pre,
html :where(.editor-styles-wrapper) code,
html :where(.editor-styles-wrapper) kbd {
    background-color: transparent;
}

.wp-block-code>code {
    border: none;
}

/* social link block */
.editor-styles-wrapper .wp-block-social-links li:last-child {
    margin-right: 0px;
}

.editor-styles-wrapper .wp-block-social-links.aligncenter {
    justify-content: center;
}

.editor-styles-wrapper .wp-block-social-links.alignleft {
    justify-content: flex-start;
}

.editor-styles-wrapper .wp-block-social-links.alignright {
    justify-content: flex-end;
}

/* make mobile editing on gutenberg possible */

@media only screen and (max-width: 414px) {

    body.post-type-post .block-editor-editor-skeleton__content .editor-styles-wrapper,
    body.post-type-page .block-editor-editor-skeleton__content .editor-styles-wrapper {
        max-width: 100vw;
        margin: 0px auto;
        width: 100%;
    }

    .block-editor-block-list__layout {
        max-width: 100%;
    }

    .wp-block {
        max-width: 100%;
    }

    .block-editor-block-list__layout .block-editor-block-list__block[data-align="wide"],
    .block-editor-block-list__layout .block-editor-block-list__block[data-align="full"] {
        width: 100vw;
    }
}

/* Gutenberg blocks alignwide and alignfull */

@media only screen and (min-width: 768px) {

    // Posts/pages align full width
    .edit-post-layout:not(.is-sidebar-opened) .block-editor-editor-skeleton__content .editor-styles-wrapper .wp-block[data-align="full"] {
        margin-left: calc((-100vw + 100% + 116px) / 2);
        margin-right: calc((-100vw + 100% + 116px) / 2);
        width: calc(100vw - 116px);
        max-width: calc(100vw - 116px);
    }

    // Posts/pages with slightly more narrow alignfull version for when the admin inspector is open
    .is-sidebar-opened .block-editor-editor-skeleton__content .editor-styles-wrapper .wp-block[data-align="full"] {
        width: calc(100vw - 280px);
        max-width: calc(100vw - 280px);
        margin-left: calc((-100vw + 100% + 280px) / 2);
        margin-right: calc((-100vw + 100% + 280px) / 2);
    }

    // Posts/pages default alignwide widths
    .block-editor-editor-skeleton__content .editor-styles-wrapper .wp-block[data-align="wide"] {
        margin-left: calc((-120% + 100%) / 2);
        margin-right: calc((-120% + 100%) / 2);
        width: 120%;
        max-width: 100vw;
    }

    // Posts/pages with slightly more narrow alignwide version for when the admin inspector is open
    .is-sidebar-opened .block-editor-editor-skeleton__content .editor-styles-wrapper .wp-block[data-align="wide"] {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (min-width: 992px) {
    .is-sidebar-opened .block-editor-editor-skeleton__content .editor-styles-wrapper .wp-block[data-align="wide"] {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

@media only screen and (min-width: 1200px) {
    .is-sidebar-opened .block-editor-editor-skeleton__content .editor-styles-wrapper .wp-block[data-align="wide"] {
        width: 100%;
    }

    // Posts/pages with slightly more narrow alignfull version for when the admin inspector is open
    .is-sidebar-opened .block-editor-editor-skeleton__content .editor-styles-wrapper .wp-block[data-align="full"] {
        max-width: calc(100vw - 280px - 72px);
        margin-left: -58px;
        margin-right: -58px;
    }
}

@media only screen and (min-width: 1500px) {
    .edit-post-layout:not(.is-sidebar-opened) .block-editor-editor-skeleton__content .editor-styles-wrapper .wp-block[data-align="wide"] {
        width: 120%;
        max-width: 1368px;
        margin-left: auto;
        margin-right: auto;
    }

    .is-sidebar-opened .block-editor-editor-skeleton__content .editor-styles-wrapper .wp-block[data-align="wide"] {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .edit-post-layout:not(.is-sidebar-opened) .block-editor-editor-skeleton__content .editor-styles-wrapper .wp-block[data-align="full"] {
        width: calc(100vw - 116px);
        margin-left: -58px;
        margin-right: -58px;
    }

    .is-sidebar-opened .block-editor-editor-skeleton__content .editor-styles-wrapper .wp-block[data-align="full"] {
        max-width: calc(100vw - 280px);
        width: calc(100% + 116px);
    }
}

/****************************************************************************************/
/***************************** core edits for forms in backend editor
/****************************************************************************************/

.block-editor-block-list__block .input-control,
.block-editor-block-list__block input[type="checkbox"],
.block-editor-block-list__block input[type="color"],
.block-editor-block-list__block input[type="date"],
.block-editor-block-list__block input[type="datetime-local"],
.block-editor-block-list__block input[type="datetime"],
.block-editor-block-list__block input[type="email"],
.block-editor-block-list__block input[type="month"],
.block-editor-block-list__block input[type="number"],
.block-editor-block-list__block input[type="password"],
.block-editor-block-list__block input[type="radio"],
.block-editor-block-list__block input[type="search"],
.block-editor-block-list__block input[type="tel"],
.block-editor-block-list__block input[type="text"],
.block-editor-block-list__block input[type="time"],
.block-editor-block-list__block input[type="url"],
.block-editor-block-list__block input[type="week"],
.block-editor-block-list__block select,
.block-editor-block-list__block textarea {
    border-radius: 0px;
}

.wp-block[data-type="gravityforms/form"] .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type="checkbox"],
.wp-block[data-type="gravityforms/form"] .gform_wrapper.gf_browser_chrome .gfield_radio li input[type="radio"],
.wp-block[data-type="gravityforms/form"] .gform_wrapper.gf_browser_safari .gfield_checkbox li input,
.wp-block[data-type="gravityforms/form"] .gform_wrapper.gf_browser_safari .gfield_checkbox li input[type="checkbox"],
.wp-block[data-type="gravityforms/form"] .gform_wrapper.gf_browser_safari .gfield_radio li input[type=radio],
.wp-block[data-type="gravityforms/form"] .gform_wrapper li.hidden_label input[type=checkbox] {
    min-height: 13px;
    min-width: 13px;
}

.wp-block[data-type="gravityforms/form"] .gform_wrapper .gfield_consent_label {
    margin-bottom: 0px;
}

/****************************************************************************************/
/* Typography */
/****************************************************************************************/

.editor-styles-wrapper .wp-block[data-type="core/heading"] h1,
.editor-styles-wrapper .wp-block[data-type="core/heading"] h2,
.editor-styles-wrapper .wp-block[data-type="core/heading"] h3,
.editor-styles-wrapper .wp-block[data-type="core/heading"] h4,
.editor-styles-wrapper .wp-block[data-type="core/heading"] h5,
.editor-styles-wrapper .wp-block[data-type="core/heading"] h6 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.editor-styles-wrapper .editor-post-title [data-rich-text-placeholder] {
    font-size: inherit;
}

.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
    line-height: 1.1;
}

.editor-styles-wrapper .h1.c9-txl,
.editor-styles-wrapper h1.c9-txl {
    font-size: 8rem;
}

.editor-styles-wrapper .h2.c9-txl,
.editor-styles-wrapper h2.c9-txl {
    font-size: 7.3rem;
}

.editor-styles-wrapper .h3.c9-txl,
.editor-styles-wrapper h3.c9-txl {
    font-size: 6.5rem;
}

.editor-styles-wrapper .h4.c9-txl,
.editor-styles-wrapper h4.c9-txl {
    font-size: 5.8rem;
}

.editor-styles-wrapper .h5.c9-txl,
.editor-styles-wrapper h5.c9-txl {
    font-size: 5rem;
}

.editor-styles-wrapper .h6.c9-txl,
.editor-styles-wrapper h6.c9-txl {
    font-size: 4.3rem;
}

p.wp-block-subhead,
.subhead-h,
.c9-sh,
.editor-styles-wrapper .c9-cta .c9-sh p {
    font-weight: 300;
}