// used to match Gutenberg Editor backend with frontend of site
@import "theme/_theme_variables.scss";

/****************************************************************************************/
/***************************** post title */
/****************************************************************************************/
.editor-styles-wrapper .editor-post-title {
	margin: 0px auto;
}

.editor-post-title__block .editor-post-title__input {
	padding: 16px;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
}

.edit-post-layout__content .editor-styles-wrapper {
	margin: 0px auto;
}

/* blog posts are max width of 900px on frontend so minimize it in backend too */
body.post-type-post .edit-post-layout__content .editor-styles-wrapper {
	max-width: 930px;
}

/****************************************************************************************/
/***************************** font changes for editor only (frontend color is on body)
/****************************************************************************************/


.editor-styles-wrapper p,
.editor-styles-wrapper .container p,
.editor-styles-wrapper .container-narrow p,
.editor-styles-wrapper .container-fluid p,
.editor-styles-wrapper .editor-rich-text .mce-content-body p,
.editor-styles-wrapper .wp-block-paragraph,
.editor-styles-wrapper .wp-block-quote p,
.editor-styles-wrapper .wp-block-file,
.editor-styles-wrapper ul li,
.editor-styles-wrapper ol li,
.editor-styles-wrapper .wp-block-pullquote,
.editor-styles-wrapper .wp-block-pullquote blockquote p,
.block-editor-format-toolbar__link-container-value,
.block-editor-block-list__block[data-type="core/pullquote"][data-align=left] .block-editor-rich-text p,
.block-editor-block-list__block[data-type="core/pullquote"][data-align=right] .block-editor-rich-text p {
	word-wrap: break-word;
	font-family: $font-family-base;
	font-size: 16px;
}

.editor-styles-wrapper p,
.block-editor-block-list__block[data-type="core/paragraph"] p {
	line-height: 1.7;
	margin-bottom: 25px;
}

.editor-styles-wrapper .editor-rich-text blockquote p,
.editor-styles-wrapper .wp-block-quote p,
.editor-styles-wrapper p.mce-content-body,
.editor-styles-wrapper .editor-rich-text p.mce-content-body {
	margin-bottom: 25px;
	line-height: 1.7;
	font-size: 16px;
}

.editor-styles-wrapper a:not(.wp-block-button__link) {
	text-decoration: underline;
}

body .editor-styles-wrapper,
.editor-styles-wrapper .wp-block-table,
.editor-styles-wrapper .wp-block-file,
.editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper .wp-block-paragraph,
.editor-styles-wrapper .wp-block-quote p,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6,
.wp-block-button.is-style-outline .wp-block-button__link {
	color: $gray-900;
}

.wp-block-button.is-style-squared .wp-block-button__link,
.wp-block-button .wp-block-button__link {
	color: $light;
}

.editor-styles-wrapper .editor-rich-text .mce-content-body p:last-child,
.editor-styles-wrapper .editor-rich-text blockquote p:last-child,
.editor-styles-wrapper .wp-block-quote p:last-child,
.wp-block-pullquote.is-style-solid-color blockquote p:last-child,
.editor-styles-wrapper .editor-rich-text .mce-content-body p:only-of-type,
.editor-styles-wrapper .editor-rich-text blockquote p:only-of-type,
.editor-styles-wrapper .wp-block-quote p:only-of-type,
.wp-block-pullquote.is-style-solid-color blockquote p:only-of-type {
	margin-bottom: 0px;
}

.editor-styles-wrapper .wp-block-pullquote blockquote:before {
	top: -48px;
}

/****************************************************************************************/
/***************************** core block edits for backend only
/****************************************************************************************/
/*WordPress core separator */
.wp-block[data-type="core/separator"] .editor-block-list__block-edit {
	max-width: 1110px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.wp-block[data-type="core/separator"] .editor-block-list__block-edit .wp-block-separator {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

/* WordPress core tables */
.editor-styles-wrapper .wp-block-table {
	margin: 0px auto 25px auto;
}

.editor-styles-wrapper .wp-block-table,
.editor-styles-wrapper .wp-block-tablee tbody,
.editor-styles-wrapper .wp-block-table tbody tr,
.editor-styles-wrapper .wp-block-table tbody tr td {
	border: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

.editor-styles-wrapper .wp-block-table thead,
.editor-styles-wrapper .wp-block-table thead tr th,
.editor-styles-wrapper .wp-block-table tfoot,
.editor-styles-wrapper .wp-block-table tfoot tr td {
	border: none;
}

.editor-styles-wrapper .wp-block-table tbody tr:nth-child(odd) td {
	background: $gray-100;
}

.editor-styles-wrapper .wp-block-table__cell-content {
	padding: 0px;
	line-height: 1.7;
}

.editor-styles-wrapper .wp-block-table tfoot tr td {
	-webkit-box-shadow: 0 -1px 0 0 #eceeef;
	box-shadow: 0 -1px 0 0 #eceeef;
}

/* for elements appearing in backend editor need to visually represent the frontend available width*/
@media only screen and (min-width: 768px) {
	.editor-styles-wrapper .wp-block {
		max-width: 960px;
	}

}

@media only screen and (min-width: 992px) {
	.editor-styles-wrapper .wp-block {
		max-width: 1110px;
	}

}

@media only screen and (min-width: 1200px) {
	.editor-styles-wrapper .wp-block {
		max-width: 1140px;
	}

}

/*WordPress core square buttons*/
.editor-rich-text__editable.wp-block-button__link.square {
	border-radius: 0;
}

.editor-rich-text__editable.wp-block-button__link {
	width: 100%;
}

/* WordPress core list items */
.editor-styles-wrapper ul li,
.editor-styles-wrapper ol li {
	position: relative;
}

.editor-styles-wrapper .block-library-list ul {
	margin: 30px 0 45px 45px;
}

.editor-styles-wrapper .editor-rich-text ol li,
.editor-styles-wrapper .editor-rich-text ul:not(.wp-block-gallery):not(.nav-tabs):not(.c9-share-list) li,
.editor-styles-wrapper ol li,
.editor-styles-wrapper ul:not(.wp-block-gallery):not(.nav-tabs):not(.c9-share-list) li {
	margin: 10px 0px;
}

.editor-styles-wrapper .wp-block>ol,
.editor-styles-wrapper .wp-block[data-type="core/list"] ol,
.editor-styles-wrapper .wp-block>ul:not(.wp-block-gallery):not(.wp-block-latest-posts):not(.wc-block-grid__products):not(.gfield_checkbox):not(.gfield_radio),
.editor-styles-wrapper ul:not(.wp-block-gallery):not(.wc-block-grid__products):not(.gfield_checkbox):not(.gfield_radio):not(.nav.nav-tabs),
.editor-styles-wrapper ul {
	padding: 0px 0px 0px 10px;
	margin: 30px 0px 35px 45px;
	list-style-type: none;
}

/* WordPress Core search widget block */
.editor-styles-wrapper .wp-block-search .wp-block-search__label {
	margin-bottom: 8px;
	font-size: 1.8em;
}

.editor-styles-wrapper .wp-block-search .wp-block-search__button {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	background-color: $primary;
	border-radius: 0px;
	padding: 2px 25px;
	color: $light;
}

/* WordPress core spacers */
.editor-styles-wrapper [data-type="core/spacer"] {
	margin-top: 20px;
	margin-bottom: 20px;
}

/* tightening other blocks */
.editor-styles-wrapper [data-block] {
	margin-top: 0px;
	margin-bottom: 0px;
}

/* includes adjustment to movers so they are visible when alignfull is selected */
.editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=full].is-multi-selected>.block-editor-block-mover,
.editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=full]>.block-editor-block-list__block-edit>.block-editor-block-mover {
	left: 60px;
}

.editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=full].is-multi-selected>.block-editor-block-mover,
.editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=full]>.block-editor-block-list__block-edit>.block-editor-block-mover {
	left: 185px;
}

.editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=wide].is-multi-selected>.block-editor-block-mover,
.editor-styles-wrapper .block-editor-block-list__layout .block-editor-block-list__block[data-align=wide]>.block-editor-block-list__block-edit>.block-editor-block-mover {
	left: 30px;
}

/* WordPress cover block and core image block on post edit (not page edit) */
.wp-block-image {
	font-size: 10px;
}

/* WordPress core quote blocks on Posts and elsewhere */
.editor-styles-wrapper .wp-block-quote {
	font-size: 10px;
}


@media only screen and (min-width: 768px) {

	body.post-type-post .edit-post-layout__content .editor-styles-wrapper .editor-block-list__block[data-type="core/cover"][data-align=full],
	body.post-type-post .edit-post-layout__content .editor-styles-wrapper .editor-block-list__block[data-type="core/image"][data-align=full] {
		margin-left: calc((-100vw + 100%)/ 2);
		margin-right: calc((-100vw + 100%)/ 2);
	}

	body.post-type-post .edit-post-layout__content .editor-styles-wrapper .editor-block-list__block[data-align=wide] {
		margin-left: -20%;
		margin-right: -20%;
		width: 140%;
		max-width: 140%;
	}

	body.post-type-post .edit-post-layout__content .editor-styles-wrapper .editor-block-list__block[data-type="core/image"][data-align=full] {
		width: 100vw;
		max-width: 100vw;
	}

}

@media only screen and (min-width: 992px) {

	body.post-type-post .edit-post-layout__content .editor-styles-wrapper .editor-block-list__block[data-type="core/cover"][data-align="wide"] {
		width: 100vw;
		max-width: 100vw;
		margin-left: calc((-100vw + 100%) / 2);
		margin-right: calc((-100vw + 100%) / 2);
	}
}

@media only screen and (min-width: 1200px) {

	body.post-type-post .edit-post-layout__content .editor-styles-wrapper .editor-block-list__block[data-type="core/cover"][data-align="wide"] {
		width: 120%;
		max-width: 1482px;
		margin-left: -10%;
		margin-right: -10%;
	}

}

/****************************************************************************************/
/***************************** core edits for forms in backend editor
/****************************************************************************************/

.components-modal__content .input-control,
.components-modal__content input[type=checkbox],
.components-modal__content input[type=color],
.components-modal__content input[type=date],
.components-modal__content input[type=datetime-local],
.components-modal__content input[type=datetime],
.components-modal__content input[type=email],
.components-modal__content input[type=month],
.components-modal__content input[type=number],
.components-modal__content input[type=password],
.components-modal__content input[type=radio],
.components-modal__content input[type=search],
.components-modal__content input[type=tel],
.components-modal__content input[type=text],
.components-modal__content input[type=time],
.components-modal__content input[type=url],
.components-modal__content input[type=week],
.components-modal__content select,
.components-modal__content textarea,
.components-popover .input-control,
.components-popover input[type=checkbox],
.components-popover input[type=color],
.components-popover input[type=date],
.components-popover input[type=datetime-local],
.components-popover input[type=datetime],
.components-popover input[type=email],
.components-popover input[type=month],
.components-popover input[type=number],
.components-popover input[type=password],
.components-popover input[type=radio],
.components-popover input[type=search],
.components-popover input[type=tel],
.components-popover input[type=text],
.components-popover input[type=time],
.components-popover input[type=url],
.components-popover input[type=week],
.components-popover select,
.components-popover textarea,
.edit-post-sidebar .input-control,
.edit-post-sidebar input[type=checkbox],
.edit-post-sidebar input[type=color],
.edit-post-sidebar input[type=date],
.edit-post-sidebar input[type=datetime-local],
.edit-post-sidebar input[type=datetime],
.edit-post-sidebar input[type=email],
.edit-post-sidebar input[type=month],
.edit-post-sidebar input[type=number],
.edit-post-sidebar input[type=password],
.edit-post-sidebar input[type=radio],
.edit-post-sidebar input[type=search],
.edit-post-sidebar input[type=tel],
.edit-post-sidebar input[type=text],
.edit-post-sidebar input[type=time],
.edit-post-sidebar input[type=url],
.edit-post-sidebar input[type=week],
.edit-post-sidebar select,
.edit-post-sidebar textarea,
.editor-block-list__block .input-control,
.editor-block-list__block input[type=checkbox],
.editor-block-list__block input[type=color],
.editor-block-list__block input[type=date],
.editor-block-list__block input[type=datetime-local],
.editor-block-list__block input[type=datetime],
.editor-block-list__block input[type=email],
.editor-block-list__block input[type=month],
.editor-block-list__block input[type=number],
.editor-block-list__block input[type=password],
.editor-block-list__block input[type=radio],
.editor-block-list__block input[type=search],
.editor-block-list__block input[type=tel],
.editor-block-list__block input[type=text],
.editor-block-list__block input[type=time],
.editor-block-list__block input[type=url],
.editor-block-list__block input[type=week],
.editor-block-list__block select,
.editor-block-list__block textarea,
.editor-post-permalink .input-control,
.editor-post-permalink input[type=checkbox],
.editor-post-permalink input[type=color],
.editor-post-permalink input[type=date],
.editor-post-permalink input[type=datetime-local],
.editor-post-permalink input[type=datetime],
.editor-post-permalink input[type=email],
.editor-post-permalink input[type=month],
.editor-post-permalink input[type=number],
.editor-post-permalink input[type=password],
.editor-post-permalink input[type=radio],
.editor-post-permalink input[type=search],
.editor-post-permalink input[type=tel],
.editor-post-permalink input[type=text],
.editor-post-permalink input[type=time],
.editor-post-permalink input[type=url],
.editor-post-permalink input[type=week],
.editor-post-permalink select,
.editor-post-permalink textarea,
.editor-post-publish-panel .input-control,
.editor-post-publish-panel input[type=checkbox],
.editor-post-publish-panel input[type=color],
.editor-post-publish-panel input[type=date],
.editor-post-publish-panel input[type=datetime-local],
.editor-post-publish-panel input[type=datetime],
.editor-post-publish-panel input[type=email],
.editor-post-publish-panel input[type=month],
.editor-post-publish-panel input[type=number],
.editor-post-publish-panel input[type=password],
.editor-post-publish-panel input[type=radio],
.editor-post-publish-panel input[type=search],
.editor-post-publish-panel input[type=tel],
.editor-post-publish-panel input[type=text],
.editor-post-publish-panel input[type=time],
.editor-post-publish-panel input[type=url],
.editor-post-publish-panel input[type=week],
.editor-post-publish-panel select,
.editor-post-publish-panel textarea {
	border-radius: 0px;
}


/****************************************************************************************/
/***************************** Typography */
/****************************************************************************************/
.editor-styles-wrapper,
.edit-post-visual-editor.editor-styles-wrapper,
.editor-styles-wrapper .c9-grid,
.editor-styles-wrapper .c9-post-grid {
	font-family: $font-family-base;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
.editor-styles-wrapper .h1,
.editor-styles-wrapper .h2,
.editor-styles-wrapper .h3,
.editor-styles-wrapper .h4,
.editor-styles-wrapper .h5,
.editor-styles-wrapper .h6,
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
	font-family: $headings-font-family;
}

.editor-styles-wrapper .editor-block-list__layout h1,
.editor-styles-wrapper h1,
.editor-styles-wrapper .h1,
.wp-block-heading h1,
.entry-header h1 {
	font-size: 4rem
}

.editor-styles-wrapper .c9-heading .h1 .text-muted,
.editor-styles-wrapper .c9-heading .h2 .text-muted,
.editor-styles-wrapper .c9-heading .h3 .text-muted,
.editor-styles-wrapper .c9-heading .h4 .text-muted,
.editor-styles-wrapper .c9-heading .h5 .text-muted,
.editor-styles-wrapper .c9-heading .h6 .text-muted {
	font-family: $headings-font-family;
}

.editor-styles-wrapper .editor-block-list__layout h2,
.editor-styles-wrapper h2,
.editor-styles-wrapper .h2,
.wp-block-heading h2 {
	font-size: 3.6rem
}

.editor-styles-wrapper .editor-block-list__layout h3,
.editor-styles-wrapper h3,
.editor-styles-wrapper .h3,
.wp-block-heading h3 {
	font-size: 3rem
}

.editor-styles-wrapper .editor-block-list__layout h4,
.editor-styles-wrapper h4,
.editor-styles-wrapper .h4,
.wp-block-heading h4 {
	font-size: 2.8rem
}

.editor-styles-wrapper .editor-block-list__layout h5,
.editor-styles-wrapper h5,
.editor-styles-wrapper .h5,
.wp-block-heading h5 {
	font-size: 2rem
}

.editor-styles-wrapper .editor-block-list__layout h6,
.editor-styles-wrapper h6,
.editor-styles-wrapper .h6,
.wp-block-heading h6 {
	font-size: 1.4rem
}

.c9-h,
.c9-h.h,
.c9-txl,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
	font-family: $headings-font-family;
	line-height: 1.1;
}

.editor-styles-wrapper .h1.c9-txl,
.editor-styles-wrapper h1.c9-txl {
	font-size: 8rem;
}

.editor-styles-wrapper .h2.c9-txl,
.editor-styles-wrapper h2.c9-txl {
	font-size: 7.3rem;
}

.editor-styles-wrapper .h3.c9-txl,
.editor-styles-wrapper h3.c9-txl {
	font-size: 6.5rem;
}

.editor-styles-wrapper .h4.c9-txl,
.editor-styles-wrapper h4.c9-txl {
	font-size: 5.8rem;
}

.editor-styles-wrapper .h5.c9-txl,
.editor-styles-wrapper h5.c9-txl {
	font-size: 5rem;
}

.editor-styles-wrapper .h6.c9-txl,
.editor-styles-wrapper h6.c9-txl {
	font-size: 4.3rem;
}
